{% extends 'basic.html' %}
{% block content %}

<div id="Outer" class="jumbotron jumbotron-fluid">
  <h1 style="color:white; text-align:center; font-size:60px;"> Weather </h1>

  <div class="container">
    <h1 id="Weather"class="display-4"> Todays Weather </h1>

      <br>
      <div class="Data">


          <h2 style="color:white; font-size:55px;" >{{data["vt1observation"]["temperature"]}}<sup class="Degree" >o</sup> </h2>
          <h2 style="color:white; font-size:30px;" >{{data["vt1observation"]["phrase"]}} </h2>
          <h2 style="color:white; font-size:30px;" > Feel like {{data["vt1observation"]["feelsLike"]}}<sup>o</sup> </h2>
          <h2 style="color:white; font-size:30px;" > UV Index {{data["vt1observation"]["uvIndex"]}}/10 {{data["vt1observation"]['uvDescription']}} </h2>
          <br>

            <h2 style="color:white; font-size:30px;" > Wind Speed {{data["vt1observation"]["windSpeed"]}} Mph</h2>
            <h2 style="color:white; font-size:30px;" > Wind Direction  {{data["vt1observation"]["windDirDegrees"]}}<sup>o</sup>  {{data["vt1observation"]["windDirCompass"]}}</h2>
            <h2 style="color:white; font-size:30px;" > Humidity  {{data["vt1observation"]["humidity"]}} %</h2>
            <h2 style="color:white; font-size:30px;" > Dew Point  {{  data["vt1observation"]["dewPoint"]  }} </h2>
            <br>
            <br>

            <form class="" action="{{ url_for('index') }}" method="POST">

                <div id="searchbar" class="form-group">
                  {{  form.hidden_tag()  }}
                  {{ form.search(placeholder = "Enter Zip Code ", class="form-group" ) }}
                  {{ form.button( class = 'btn btn-dark'  )  }}
                </div>

           </form>
      </div>
  </div>
</div>

<style type="text/css">


  #searchbar{
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;}

  .Degree{
    font-size:45px;
  }

  #Weather{
    color:white;
    text-align:center;
  }

    .container{
      margin-left: auto;
      margin-right: auto;
      margin-top:8%;
      width: 600px;
      height: auto;
      padding: 10px;
      background-color:rgba(62, 81, 229, 1);}

    .Data{
      padding:20px;
      margin-left: 50px;
    }
    #Outer{
      background-color:black;
      background-size: cover;
      height:100vh;
    }

</style>


{% endblock %}
